@font-face{
  font-family: myFont_comforta;
  src: url("../../fonts/Comfortaa-Regular.ttf");
}
@font-face{
  font-family: myFont_bebasNeue;
  src: url("../../fonts/BebasNeue-Regular.ttf");
}
body{
    background-image: url("../images/bathroom_design_graphics_80075_3840x2400.jpg");
    background-size: contain;
    overflow: hidden;

  }
  /* top navigation bar styling  */
  .navbar_container{
    position: fixed;
    top: 10px;
    width: 100%;
    transition: all 0.8s ease-in;
    box-shadow: 0 3px 3px rgb(167, 166, 166);

  }
  /* Logo in navigation bar  styling */
  .navbar_logo{
    margin:5px 0 0 15px;
    width: 100px;
  }
  /* tabs name styling */
  .slider-nav{
   position: absolute;
   right: 10px;
   top: 20px;
    z-index: -2;
  }
  .navbar_item{
    display: inline-block;
    position: relative;
    transition-duration: .25s;
    font-size: 25px;
    color: #6cb949;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  /* main body slider styling */
  .slider-inner {
    position: absolute;
    left: 0;
    top: 122px;
    transition-timing-function: cubic-bezier(0.22, 1.61, 0.65, 1);
    transition-duration: 1s;
    transition-delay: 0.1s;
    transform: translateZ(0);
}
/* style for each slide */   
.slide {
    position: absolute;
    width: auto;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.25, 1.25);
    transform: translateZ(0) scale(0.8);
    transition-duration: 0.5s;
}


.slide.active {
    transform: scale(1);
    transition-delay: 1.35s;
    
}
.navbar_item.active {
    background-color:#6f9f95;
    
}

.navbar_item:hover{
    color: #ffffff;
    background-color: #6cb949;
    cursor: pointer;
  }
/* contents in tabs like paragraphs  */
  .content{
    text-align: center;
    height: 82vh;
    overflow: auto;
    font-family: myFont_bebasNeue;
}
.content>p{
    display: block;
    position: relative;
    top: 10%;
    left: 15%;
    width: 70%;
    font-family: myFont_comforta;
    font-size: large;
    color: #000000;
    line-height: 1.618;
    text-align: justify;
} 